/* badges */
/* KaosBass [6068715] */
#chat-messages .fromID-6068715 .badge-box i,
#chat-messages  .id-6068715 .badge-box i,
#user-rollover.id-6068715 .badge-box > i.bdg,
/* |V|cNerdx [5676670] */
#chat-messages .fromID-5676670 .badge-box i,
#chat-messages  .id-5676670 .badge-box i,
#user-rollover.id-5676670 .badge-box > i.bdg,
/* samanthalolz  [13490395] */
#chat-messages .fromID-13490395 .badge-box i,
#chat-messages  .id-13490395 .badge-box i,
#user-rollover.id-13490395 .badge-box > i.bdg,
/* Smash|smashbro12 [8452233] */
#chat-messages .fromID-8452233 .badge-box i,
#chat-messages  .id-8452233 .badge-box i,
#user-rollover.id-8452233 .badge-box > i.bdg,
/* Skorpion9001 [18182332] */
#chat-messages .fromID-18182332 .badge-box i,
#chat-messages  .id-18182332 .badge-box i,
#user-rollover.id-18182332 .badge-box > i.bdg,
/* WɪʟᴅFᴏxMᴀɴ [6708885] */
#chat-messages .fromID-6708885 .badge-box i,
#chat-messages  .id-6708885 .badge-box i,
#user-rollover.id-6708885 .badge-box > i.bdg,
/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages  .id-22670452 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg,
/* volcano_girl111x [5759108] */
#chat-messages .fromID-5759108 .badge-box i,
#chat-messages  .id-5759108 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg,
/* Mǟɖɖɨɛ [5382369] */
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages  .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg,
/* Gay Peter Pan [22954907] */
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages  .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg,
/* ArkhamBot [17969387] */
#chat-messages .fromID-17969387 .badge-box i,
#chat-messages  .id-17969387 .badge-box i,
#user-rollover.id-17969387 .badge-box > i.bdg {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    background-position: initial;
    background-repeat: no-repeat !important
}
       
/* Images Area */
/* KaosBass [6068715] */
#user-rollover.id-6068715 .badge-box > i.bdg,
#chat-messages .fromID-6068715 .badge-box i,
#chat-messages .id-6068715 .badge-box i {
    background-image: url(http://i.imgur.com/xmMuxVo.png);
}
/* |V|cNerdx [5676670] */
#user-rollover.id-5676670 .badge-box > i.bdg,
#chat-messages .fromID-5676670 .badge-box i,
#chat-messages .id-5676670 .badge-box i {
    background-image: url(http://i.imgur.com/kdIuFtb.png);
}
/* samanthalolz  [13490395] */
#user-rollover.id-13490395 .badge-box > i.bdg,
#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i {
    background-image: url(http://i.imgur.com/mtfhebO.jpg);
}
/* Smash|smashbro12 [8452233] */
#user-rollover.id-8452233 .badge-box > i.bdg,
#chat-messages .fromID-8452233 .badge-box i,
#chat-messages .id-8452233 .badge-box i {
    background-image: url(http://i.imgur.com/vWJGA4I.png);
}
/* Skorpion9001 [18182332] */
#user-rollover.id-18182332 .badge-box > i.bdg,
#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i {
    background-image: url(http://i.imgur.com/GbN3VPK.png);
}
/* -WɪʟᴅFᴏxMᴀɴ [6708885] */
#user-rollover.id-6708885 .badge-box > i.bdg,
#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i {
    background-image: url(http://i.imgur.com/GgkgD4p.png);
}

/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#user-rollover.id-22670452 .badge-box > i.bdg,
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i {
    background-image: url(http://i.imgur.com/3E9dL4M.png);
}
/* volcano_girl111x [5759108] */
#user-rollover.id-5759108 .badge-box > i.bdg,
#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i {
    background-image: url(http://i.imgur.com/eTg1nWK.png);
}
/* Mǟɖɖɨɛ [5382369] */
#user-rollover.id-5382369 .badge-box > i.bdg,
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i {
    background-image: url(http://i.imgur.com/LdVHyDL.jpg);
}
/* Gay Peter Pan [22954907] */
#user-rollover.id-22954907 .badge-box > i.bdg,
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i {
    background-image: url(http://i.imgur.com/dtTGOx7.png);
}
/* ArkhamBot [17969387] */
#user-rollover.id-17969387 .badge-box > i.bdg,
#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i {
    background-image: url(http://i.imgur.com/i9Gk5FF.png);
}

/* Custom Icon for event Winners */

/* Mr. Roboto | TFS Nᵉᵗʷᵒʳᵏ [6137690] */
.cm.id-6137690 .from .icon-chat-dj:before {
    content: url("http://i.imgur.com/fmkQHcL.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-6137690 .from .icon-chat-dj {
    margin-left: 16px
}
/* Jøґ∂αη†♄εℙαηḓα [22670452] */
.cm.id-22670452 .from .icon-chat-dj:before {
    content: url("http://i.imgur.com/fmkQHcL.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-22670452 .from .icon-chat-dj {
    margin-left: 16px
}
/* |V|cNerdx [5676670] */
.cm.id-5676670 .from .icon-chat-dj:before {
    content: url("http://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-5676670 .from .icon-chat-dj {
    margin-left: 16px
}
/*  KaosBass [6068715] */
.cm.id-6068715 .from .un.clickable:before {
    content: url("https://raw.githubusercontent.com/Plug-It/pi/master/images/chat/rank_dev.png") !important;
    top: 3px;
    right: 3px;
    position: relative;
}
