/* badges */
/* samanthalolz  [13490395] */
#chat-messages .fromID-13490395 .badge-box i,
#chat-messages  .id-13490395 .badge-box i,
/* Skorpion9001 [18182332] */
#chat-messages .fromID-18182332 .badge-box i,
#chat-messages  .id-18182332 .badge-box i,
/* WɪʟᴅFᴏxMᴀɴ [6708885] */
#chat-messages .fromID-6708885 .badge-box i,
#chat-messages  .id-6708885 .badge-box i,
/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages  .id-22670452 .badge-box i,
/* volcano_girl111x [5759108] */
#chat-messages .fromID-5759108 .badge-box i,
#chat-messages  .id-5759108 .badge-box i,
/* Mǟɖɖɨɛ [5382369] */
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages  .id-5382369 .badge-box i,
/* Gay Peter Pan [22954907] */
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages  .id-22954907 .badge-box i,
/* ArkhamBot [17969387] */
#chat-messages .fromID-17969387 .badge-box i,
#chat-messages  .id-17969387 .badge-box i {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-position: initial;
    background-repeat: no-repeat !important}
       
/* Images Area */

/* samanthalolz  [13490395] */
#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i {
    background-image: url(http://i.imgur.com/mtfhebO.jpg);
}
/* Skorpion9001 [18182332] */
#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i {
    background-image: url(http://i.imgur.com/GbN3VPK.png);
}
/* -WɪʟᴅFᴏxMᴀɴ [6708885] */
#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i {
    background-image: url(http://i.imgur.com/GgkgD4p.png);
}

/* Jøґ∂αη†♄εℙαηḓα [22670452] */
#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i {
    background-image: url(http://i.imgur.com/3E9dL4M.png);
}
/* volcano_girl111x [5759108] */
#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i {
    background-image: url(http://i.imgur.com/eTg1nWK.png);
}
/* Mǟɖɖɨɛ [5382369] */
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i {
    background-image: url(http://i.imgur.com/LdVHyDL.jpg);
}
/* Gay Peter Pan [22954907] */
#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i {
    background-image: url(http://i.imgur.com/dtTGOx7.png);
}
/* ArkhamBot [17969387] */
#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i {
    background-image: url(http://i.imgur.com/i9Gk5FF.png);
}
