@import url("https://skillsaura.github.io/CustomUsers.css");
@import url("https://skillsaura.github.io/CustomCSSstaff.css");
@import url("https://skillsaura.github.io/CustomCSSusericons.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* User Menus */

#user-menu {
    background: rgba(53, 6, 8, .8);
}
#user-view {
    background: rgba(53, 6, 8, 0.75) !important;
}
.container .header span {
    color: #ffffff;
}
#user-friends .list .row,
#user-view .cell .top {
    opacity: .6;
    border-radius: 90px;
    transition: border-radius .2s ease-out;
    background: 0 0;
}
#user-friends .list .row:hover,
#user-view .cell:hover .top,
#user-view .selected .top {
    opacity: 1
}
#app-menu,
#app-menu .list {
    max-width: 400px!important;
}
.grid .cell {
    border-radius: 25px 25px 25px 25px;
}
.grid .cell .meta .host,
.item span,
.cap .title,
.cap .value,
label,
span.refresh {
    color: #ffffff !important;
}
/* Shop/Inventory */

#user-inventory .cell.selected .top,
#user-inventory .cell:hover>.top,
#user-store .cell.selected .top,
#user-store .cell:hover>.top {
    border-radius: 12px;
    background: transparent !important;
}
#user-inventory .cell,
#user-store .cell,
#user-store .cell .top {
    border-radius: 100px;
    background: transparent !important;
}
#user-store .misc .cell,
#user-store .misc .cell .title-bar {
    border-radius: 0;
    background: transparent !important;
}
/* XP Bars */

.experience .xp .bar,
.experience .xp .bar .progress {
    border-radius: 25px 5px 25px 5px!important;
}
#footer-user .info .meta .bar,
#footer-user .info .meta .bar .progress {
    border-radius: 25px 5px 25px 5px!important;
}
/* Room Background */

.room-background {
    background-image: url(https://i.imgur.com/8kaIagn.jpg) !important;
}
/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
    background: url(https://i.imgur.com/U5f0EUR.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}
/* Room Name | Hosted By */

#room-bar:hover>#room-host,
#room-bar>#room-name {
    opacity: 0!important;
    transition: opacity .25s!important;
}
#room-bar:hover>#room-name,
#room-bar>#room-host {
    opacity: 1!important;
    transition: opacity .25s!important;
    transition-delay: .25s!important;
}
#room-bar>#room-host,
#room-bar>#room-name {
    left: 110px;
    top: -2px !important;
    white-space: pre;
    -webkit-animation: glow 1s infinite alternate;
}
#room-bar span,
#room-name .bar-value,
#room-host .dark-label,
#room-host .username {
    color: rgb(240, 240, 240);
    font-family: 'Orbitron', Orbitron-Regular;
    font-weight: regular!important;
    font-size: 19px!important;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 35px rgba(250, 250, 250, 1);
    }
}
/* App Header */
.app-header {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
#rs-skip-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%) !important;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#history-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black; 
}
#chat-button {
    border-right: 1px solid black;
    height: 54px; 
}
#app-menu.in-room {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
.button,
#rcs-progress-container{
    background: none !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(to right, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1)!important;
}
/* App Header Buttons Selected */
#users-button.header-panel-button.selected,
#waitlist-button.header-panel-button.selected,
#friends-button.header-panel-button.selected,
#rcs-appright-button.header-panel-button.selected,
#chat-button.header-panel-button.selected,
#history-button.selected{
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/* Now playing song | Now playing DJ text edit */

#now-playing-bar > #now-playing-media,
#now-playing-bar > #now-playing-media .bar-value
 {
    padding: 10px;
    left: -12px;
    top: -25px !important;
    font: normal 16px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
#now-playing-bar > #now-playing-dj,
#now-playing-bar > #now-playing-dj span {
    padding: 10px;
    left: -10px;
    top: 0px !important;
    font: normal 14px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
/* Chat */

#room .app-right ,
#room .app-right .cm.log,
#room .app-right .cm.message,
#room .app-right .cm.moderation,
#room .app-right .cm.user-action,
#room .app-right .cm.emote,
#room .app-right .cm.user-mentioned,
#room .app-right .cm-system,
#msg{
    background: rgb(26, 3, 4) !important;
}
#chat-messages .cm:not(.log):hover {
    transform: translate(5px, -5px);
    background-color: rgba(53, 6, 8, .4);
}
#room .app-right .cm.mention {  
    background: linear-gradient(-90deg, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
#chat-input,
#import-youtube .button,
#import-youtube .youtube-input,
#input-room-name,
#playlist-import-panel .button,
#room-info .input-background,
#user-avatars .tab-menu button,
#user-friends .list .row .buttons button,
#user-friends .search,
#user-friends .tab-menu button,
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
.dialog-input-background,
.input-background,
.tab-menu button,
.user-content.profile .meta .blurb .box,
.user-content.profile .meta .blurb input,
#filter-bar,
#search-bar {
    border-radius: 30px;
    background: rgba(53, 6, 8, 1) !important;
}
/* Playlist/History Menu */

#history-panel,
#playlist-panel {
    background: rgba(53, 6, 8, .75);
    text-shadow: 1px -1px #000000;
}
#playlist-menu .title {
    color: #ffffff;
}
#playlist-menu {
    background: rgba(53, 6, 8, .8);
}
#search {
    background: rgba(53, 6, 8, .8);
}
/* Footer */

#footer {
    background: linear-gradient(to bottom, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%)!important;
}
#playlist-button,
#playlist-menu .menu .row.selected,
.media-list .row.now-playing,
.media-list .row.now-playing .actions,
.media-list .row.selected,
.media-list .selected .actions {
    background: linear-gradient(to bottom, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1)!important;
}
/* Footer Text */

#your-active-playlist span,
#your-next-media span {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    left: -2px !important;
    top: 7px !important;
    font: normal 18px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240,240,240);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
/* Scrollbars */

#chat-messages::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar {
    width: 7px!important;
    box-shadow: inset -1px 0 7px hsla(0, 0%, 0%, .7);
}
#chat-messages::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
.jspDrag {
    background: rgba(152, 0, 0, 1);
    box-shadow: inset 1px 0 7px hsla(0, 0%, 100%, .5);
    border-radius: 5px;
}

/* Removing Plug Icons */
#your-next-media i,
#your-active-playlist i,
#playback .background,
.icon-current-dj {
    display: none !important;
}
/* TEMP MADDIE TROLL CODE 5382369*/

#chat [data-cid^="5382369-"] span.un.clickable {
    color: rgba(89, 48, 1, 1) !important;
}
.cm.id-5382369 .from .un.clickable:before {
    content: url("https://i.imgur.com/qhsMrdF.png") !important;
    top: 0px;
    right: 3px;
    position: relative;
}
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background-position: initial;
    background-repeat: no-repeat !important;
}
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-image: url('https://i.imgur.com/NzFSjbK.gif');
}


