.cm .message .role-manager span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
.cm .message .role-manager .emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) 3px solid !important;}
.cm .message .role-manager .emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
#chat .role-bouncer span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat .role-bouncer .emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat .role-bouncer.emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
#chat .role-host span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat .role-host.emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat .role-host .emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}

/* Arkhambot [17969387] */
#chat [data-cid^="17969387-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="17969387-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="17969387-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
/* Mǟɖɖɨɛ  [5382369] */
#chat [data-cid^="5382369-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="5382369-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="5382369-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
/* Gay Peter Pan [22954907] */
#chat [data-cid^="22954907-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="22954907-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="22954907-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
/* Skorpion9001 [18182332] */
#chat [data-cid^="18182332-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="18182332-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="18182332-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
/* _TidBit_ [8451998] */
#chat [data-cid^="8451998-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="8451998-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="8451998-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
/* OᑭᖇIᗪE [21863355] */
#chat [data-cid^="21863355-"] span.un.clickable {
    color: color: rgba(100, 246, 133, 1) !important;}
#chat [data-cid^="21863355-"].emote {
    background: color: rgba(100, 246, 133, 1) !important;
    border-left: rgba(100, 246, 133, 1) !important; 3px solid !important;}
#chat [data-cid^="21863355-"].emote .text {
    color: rgba(100, 246, 133, 1) !important;
    font-style: normal;
    font-weight: bold;
}
