/* Host | Co-Host | Bot Colour */
/* Skills [17969387] | ArkhamRobot [25096669] | WɪʟᴅFᴏxMᴀɴ [6708885] */

#user-rollover.id-17969387 .username,
#chat [data-cid^="17969387-"] span.un.clickable,
#user-rollover.id-25096669 .username,
#chat [data-cid^="25096669-"] span.un.clickable,
#user-rollover.id-6708885 .username,
#chat [data-cid^="6708885-"] span.un.clickable{
    color: rgb(100, 246, 133) !important;
}
#chat [data-cid^="17969387-"].emote,
#chat [data-cid^="25096669-"].emote,
#chat [data-cid&="6708885-"].emote{
    color: rgb(100, 246, 133) !important;
    border-left: rgb(100, 246, 133) 3px solid !important;
}
#chat [data-cid^="17969387-"].emote .text,
#chat [data-cid^="25096669-"].emote .text,
#chat [data-cid^="6708885-"].emote .text{
    color: rgb(100, 246, 133) !important;
    font-style: normal;
    font-weight: bold;
}
