/* This section of code is due to be completely redone */
@import url("https://SkillsAura.github.io/PlugUsers.css");
@import url("https://SkillsAura.github.io/PlugStaff.css");
@import url("https://SkillsAura.github.io/PlugUserIcons.css");
@import url("https://SkillsAura.github.io/Other.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* Room Background */
/*
.room-background {
    background-image: url(https://i.imgur.com/fSex6bQ.png) !important;
}
*/
#playback .background {
    display: none !important;
}
/* Room Icon */

#room-host,
#room-name {
    left: 140px;
}
#room-bar .icon-room {
    top: 8.5px;
    left: 10px;
}
i.icon.icon-room {
    width: 160px;
    height: 40px;
}
.icon-room {
    background: url(https://i.imgur.com/zdXTEUJ.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 75%;
}
/* App Header */

.app-header {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
}
#rs-skip-button {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%)!important;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#history-button {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#chat-button {
    border-right: 1px solid black;
    height: 54px;
}
#app-menu.in-room {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
}
.button,
#rcs-progress-container {
    background: none !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(to right, rgba(153, 50, 204, 1) 0, rgba(191, 95, 255, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1) !important;
}
/* App Header Buttons Selected */

#users-button.header-panel-button.selected,
#waitlist-button.header-panel-button.selected,
#friends-button.header-panel-button.selected,
#rcs-appright-button.header-panel-button.selected,
#chat-button.header-panel-button.selected,
#history-button.selected {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
/* Chat Area */

#chat-messages {
         background: rgba(8, 25, 69, 1);
}
#room .app-right .cm.log {
         background: rgba(8, 25, 69, 1);
}
#chat .cm {
	background: rgba(4, 13, 36, 1);
	box-shadow: inset 1px 1px 0 hsla(220,10%,20%,.8);
	animation: fadein .2s;
}
#chat .cm.message:nth-child(odd) {
	background: rgba(8, 25, 69, 1);
	box-shadow: inset 1px 1px 0 hsla(220,10%,5%,.8);
}
#chat .cm .delete-button {
	border-radius: 4px;
	background: linear-gradient(hsl(0,0%,30%), hsl(0,0%,40%));
	box-shadow: inset 0 0 0 1px hsl(0,0%,50%);
}
#chat .cm .delete-button:hover {
	background: linear-gradient(hsl(5,100%,60%), hsl(5,100%,50%));
	box-shadow: 0 0 10px hsl(5,100%,50%);
	color: #000;
}
#room .app-right .cm.mention {
   background: linear-gradient(-90deg, rgba(21, 67, 183, 1) 0, rgba(8, 25, 69, 1) 100%)
}
#chat {
    background: rgba(4,13, 36, 1);
}
#chat-input {
    border-radius: 30px;
    background: rgba(8, 25, 69, 1) !important;
}
/* Chat Hover */

#chat-messages  .cm:not(.log):hover:hover {
    transform: translate(5px);
}
#chat .cm.message:nth-child(odd) .cm:not(.log):hover:hover { 
    transform: translate(5px);
}
#user-lists .list .user,
#chat-messages .message,
#chat-messages .cm,
#chat .cm.message:nth-child(odd) {
        -webkit-transition:     all 0.3s ease;
        -moz-transition:        all 0.3s ease;
        -o-transition:          all 0.3s ease;
        transition:             all 0.3s ease;
}
/* User-rollover Section */

#user-rollover {
    border-radius: 10px;
    background: rgb(8, 25, 69);  
}
#user-rollover.self.chat .info {
    border-radius: 0 0 10px 10px;
    background: rgb(4, 13, 36);
}
#user-rollover.self.can-skip.chat .info {
    border-radius: 0 0 0 0;
}
#user-rollover .info {
    background: rgb(4, 13, 36);
}
#user-rollover.expand:not(.chat) .info {
    border-radius: 0 0 0px 0px;
}
#user-rollover.self .action.skip {
    border-radius: 0 0 10px 10px;
} 
.thumb .background {
   background: transparent;
}
#user-rollover .actions,
#user-rollover .actions .action.skip:hover,
#user-rollover .actions .action.mention:hover, 
#user-rollover .actions .action.friend:hover,
#user-rollover .actions .action.mod-dj:hover,
#user-rollover .actions .action.mod-ban:hover {
    background: rgb(4, 13, 36);
    border-radius: 0 0 10px 10px;
}
#user-rollover .actions .action.giftsub:hover,
#user-rollover .actions .action.gift:hover,
#user-rollover .actions .action.ignore:hover,
#user-rollover .actions .action.mod-staff:hover,
#user-rollover .actions .action.mod-mute:hover {
    background: rgb(4, 13, 36);
}
#user-rollover .actions,
#user-rollover .actions i {
    transition: all 0.2s ease-in-out;
}
#user-rollover .actions .giftsub:hover .icon-chat-subscriber,
#user-rollover .actions .skip:hover .icon-skip,
#user-rollover .actions .mention:hover .icon-mention,
#user-rollover .actions .ignore:hover .icon-ignore,
#user-rollover .actions .gift:hover .icon-gift,
#user-rollover .actions .friend:hover .icon-add-friend,
#user-rollover .actions .mod-dj:hover .icon-leave-booth ,
#user-rollover .actions .mod-staff:hover .icon-staff,
#user-rollover .actions .mod-mute:hover .icon-mute-big,
#user-rollover .actions .mod-ban:hover .icon-ban {
    transform: scale(1.2);   
}
/* Vote Buttons */

#woot .bottom,
#grab .bottom,
#meh .bottom {
    background: transparent !important;
}
#woot {
    border-radius: 50px 0 0 50px;
    border-left: 1px solid rgb(255, 255, 255);
}
#meh {
    border-radius: 0 50px 50px 0;
    border-right: 1px solid rgb(255, 255, 255);
}
#woot,
#grab,
#meh {
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0 !important;
    background: linear-gradient(135deg, rgba(127, 127, 127, .15), rgba(76, 76, 76, .15)) !important;
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#woot.selected {
    animation:woot 3s infinite;
}
#woot:hover {
    background: linear-gradient(to top, rgba(0, 128, 0,.75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes woot {
    0% {background-color: #00ff00;}
    50% {background-color: #008000;}
   100% {background-color: #00ff00;}
}
#grab.selected {
    animation:grab 3s infinite;
}
#grab:hover {
     background: linear-gradient(to top, rgba(75, 0, 130, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes grab {
    0% {background-color: #9f1aff;}
    50% {background-color: #3b0066;}
    100% {background-color: #9f1aff;}
}
#meh.selected {
   animation:meh 3s infinite;
}
#meh:hover {
    background: linear-gradient(to top, rgba(96, 0, 0, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes meh {
    0% {background-color: #ff0000;}
    50% {background-color: #660000;}
    100% {background-color: #ff0000;}
}
/* DJ join|leave|locked Buttons */

#dj-button.is-wait,
#dj-button.is-leave,
#dj-button.is-locked,
#dj-button.is-quit {
    background: transparent !important;
    border: 1px solid rgb(255, 255, 255) !important; 
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#dj-button.is-wait,
#dj-button.is-wait .left,
#dj-button.is-leave,
#dj-button.is-leave .left, 
#dj-button.is-locked,
#dj-button.is-locked .left,
#dj-button.is-quit,
#dj-button.is-quit .left {
    border-radius: 100px;
}
#dj-button .left {
    border-right: 1px solid rgb(255, 255, 255)!important;
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#dj-button.is-wait .left {
     background: linear-gradient(to top, rgba(0, 128, 0,.75)10%, rgba(255, 255, 255, .05)90%) !important;
}
#dj-button.is-leave .left {
      background: linear-gradient(to top, rgba(75, 0, 130, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
#dj-button.is-quit .left,
#dj-button.is-locked .left {
     background: linear-gradient(to top, rgba(96, 0, 0, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
/* Scrollbars */

#chat-messages::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar {
    width: 7px!important;
    box-shadow: inset -1px 0 7px hsla(0, 0%, 0%, .5);
}
#chat-messages::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
.jspDrag {
    background: rgba(4, 13, 36, 1);
    box-shadow: inset 1px 0 7px hsla(0, 0%, 100%, .2);
    border-radius: 5px;
}
/* Footer */

#footer {
    background: linear-gradient(to bottom, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%)!important;
}
