/* Host | Co-Host | Bot Colour */
/* Skills [17969387] | ArkhamRobot [25096669] | WɪʟᴅFᴏxMᴀɴ [6708885] */

#user-rollover.id-25096669 .username,
#chat [data-cid^="25096669-"] span.un.clickable {
    color: rgb(100, 246, 133) !important;
}
#chat [data-cid^="25096669-"].emote {
    color: rgb(100, 246, 133) !important;
    border-left: rgb(100, 246, 133) 3px solid !important;
}
#chat [data-cid^="25096669-"].emote .text {
    color: rgb(100, 246, 133) !important;
    font-style: normal;
    font-weight: bold;
}

/* Host, Cohost, Manager, Bouncer, Res DJ, Subscribe | /me colours */

#chat-messages>.emote.role-host {
    color: #FF3D3F !important;
    font-style: normal;
    font-weight: bold;
}

#chat-messages>.emote.role-cohost {
    color: #FF4C42 !important;
    font-style: normal;
    font-weight: bold;
}

#chat-messages>.emote.role-manager {
    color: #FFB042 !important;
    font-style: normal;
    font-weight: bold;
}

#chat-messages>.emote.role-bouncer {
    color: #80A3DF !important;
    font-style: normal;
    font-weight: bold;
}

#chat-messages>.emote.role-dj {
    color: #A084CC !important;
    font-style: normal;
    font-weight: bold;
}

#chat-messages>.emote.role-subscriber {
    color: #C1C100;
    font-style: normal;
    font-weight: bold;
}


/*
#user-rollover.id-17969387 .username,
#chat [data-cid^="17969387-"] span.un.clickable,
#user-rollover.id-25096669 .username,
#chat [data-cid^="25096669-"] span.un.clickable,
#user-rollover.id-6708885 .username,
#chat [data-cid^="6708885-"] span.un.clickable{
    color: rgb(100, 246, 133) !important;
}
#chat [data-cid^="17969387-"].emote,
#chat [data-cid^="25096669-"].emote,
#chat [data-cid&="6708885-"].emote{
    color: rgb(100, 246, 133) !important;
    border-left: rgb(100, 246, 133) 3px solid !important;
}
#chat [data-cid^="17969387-"].emote .text,
#chat [data-cid^="25096669-"].emote .text,
#chat [data-cid^="6708885-"].emote .text{
    color: rgb(100, 246, 133) !important;
    font-style: normal;
    font-weight: bold;
}
*/
#user-rollover.id-5382369 .username,
#chat [data-cid^="5382369-"] span.un.clickable {
    color: rgb(89, 48, 1) !important;
}
#chat [data-cid^="5382369-"].emote {
    color: rgb(89, 48, 1) !important;
    border-left: rgb(89, 48, 1) 3px solid !important;
}
#chat [data-cid^="5382369-"].emote .text {
    color: rgb(89, 48, 1) !important;
    font-style: normal;
    font-weight: bold;
}
