

/* - - - - - - - - - - - - - - - - - - - - - - - - - - Importing Other CSS Style Sheets - - - - - - - --  - - - - - - - - - - - - - - */


@import url("https://SkillsAura.github.io/PlugUsers.css");
@import url("https://SkillsAura.github.io/PlugStaff.css");
@import url("https://SkillsAura.github.io/PlugUserIcons.css");
@import url("https://SkillsAura.github.io/Other.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");


/* - - - - - - - - - - - - - - - - - - - - - - - - - - Styling Things @ Room Header Section  - - -  - - - - - - - - - - - - - - - - - */


/* Room Icon */

#room-host,
#room-name {
    left: 140px;
}
#room-bar .icon-room {
    top: 8.5px;
    left: 10px;
}
i.icon.icon-room {
    width: 160px;
    height: 40px;
}
.icon-room {
    background: url(https://i.imgur.com/zdXTEUJ.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 75%;
}
/* Room Background */

#playback .background {
    display: none !important;
}
/* App Header */

.app-header {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
}
#rs-skip-button {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%)!important;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#history-button {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#chat-button {
    border-right: 1px solid black;
    height: 54px;
}
#app-menu.in-room {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
}
.button,
#rcs-progress-container {
    background: none !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(to right, rgba(153, 50, 204, 1) 0, rgba(191, 95, 255, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1) !important;
}


/* - - - - - - - - - - - - - - - - - - - - - - Styling Things @ Room Header Left Section  - - - - - - - - - - - - - - - - - - - - - - */


/* App Header Buttons Selected */

#users-button.header-panel-button.selected,
#waitlist-button.header-panel-button.selected,
#friends-button.header-panel-button.selected,
#rcs-appright-button.header-panel-button.selected,
#chat-button.header-panel-button.selected,
#history-button.selected {
    background: linear-gradient(to top, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
/* Plug DJ far left tab */

#app-menu.open {
  background: rgba(4, 13, 36, 1);
}
#app-menu.open .list { 
  background: rgba(8, 25, 69, 1);
}
#app-menu.in-room .list .item:hover,
#app-menu .list .rcsunload:hover,
#app-menu .list .logout:hover {
 background: rgba(4, 13, 36, 1) !important;
}
/* Community Settings Menu */

#room-settings-menu {
     background: rgba(4, 13, 36, 1);
}
#room-settings .general-settings {
     background:  rgba(8, 25, 69, 1);
     text-shadow: 1px -1px rgb(0, 0, 0);
}
/* History Menu */

#history-panel .media-list .container {
   background:  rgba(8, 25, 69, .9);
}
#history-panel .media-list.history .row.selected {
   background: linear-gradient(-90deg, rgba(21, 67, 183, .75) 0, rgba(8, 25, 69, 
   .75) 100%);
}
#history-panel .media-list .row .actions,
#history-panel .media-list .row.selected .actions {
    background: rgb(4, 13, 36);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 0px;
    right: 0px;
    height: 75px !important;
}
#history-panel .media-list .actions div i, .media-list.history .actions div i {
  top: 25px ;
  left: 20px;
}
.pop-menu .bar {
    background: rgb(8, 25, 69);	 
}
.pop-menu ul {
    background: rgb(4, 13, 36) !important;	
}
.media-list.history .meta .name,
.media-list.history .meta .timestamp {
   right: 50px;
}


/* - - - - - - - - - - - - - - - - - - - - - Styling Things @ Room Header Right Section  - - - - - - - - - - - - - - - - - - - - - - */


/* User List Hover (Peoples Tab) */

#user-lists .list .user:hover {
background: linear-gradient(-90deg, rgba(21, 67, 183, 1) 0, rgba(8, 25, 69, 1) 100%);
transform: translate(5px);
width: initial;
top: 10px;
}
#user-lists .list .user {
top: 10px;
}
#user-lists .list.staff .group {
    background: rgba(8, 25, 69, .75) !important;   
}
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
#filter-bar,
#search-bar,
#rcs-search {
    background: rgba(8, 25, 69, 1) !important;
}
/* Dj Waitlist Tab */

#waitlist .list .user {
  background: rgb(4, 13, 36);
}
#waitlist .list .user:hover {
  transform: translate(5px);
  background-color: rgb(4, 13, 36);
}
/* Friends Tab */
.app-right .friends .list-header,
.app-right .friends .list .row {
  background: rgb(4, 13, 36);
}
.app-right .friends .list .row.clickable:hover,
.app-right .friends .list .row.is-offline:hover {
  transform: translate(5px);
  background-color: rgb(4, 13, 36);
}
.jspContainer {
   background: rgb(4, 13, 36);
}


/* - - - - - - - - - - - - - - - - - - - - - - - Styling Chat Sections @ User Rollover  - - - - - - - - - - - - - - - - - - - - - - */


/* Chat Section */

#room .app-right,
#room .app-right .cm.log,
#room .app-right .cm.message,
#room .app-right .cm.moderation,
#room .app-right .cm.user-action,
#room .app-right .cm.emote,
#room .app-right .cm.user-mentioned,
#room .app-right .cm-system,
#msg {
    background: rgba(4, 13, 36, 1);
}
#room .app-right .cm.log:nth-child(odd),
#room .app-right .cm.message:nth-child(odd),
#room .app-right .cm.moderation:nth-child(odd),
#room .app-right .cm.user-action:nth-child(odd),
#room .app-right .cm.emote:nth-child(odd),
#room .app-right .cm.user-mentioned:nth-child(odd),
#room .app-right .cm-system:nth-child(odd),
#msg {
    background: rgba(8, 25, 69, 1);
}
#room .app-right .cm.mention {
    background: linear-gradient(-90deg, rgba(21, 67, 183, 1) 0, rgba(8, 25, 69, 1) 100%)
}
#rs-toggle-sidebar {
  background: rgb(4, 13, 36) 
  url(https://cdn.radiant.dj/rcs/icons/plugdj/arrowright.png) !important;
  background-position-x: center !important;
  background-position-y: center !important;
}
/* Chat Hover Delete Buttons */

.rcs-small-delete {
  background: rgb(10, 33, 92) !important;
}
/* Chat Hover */

#chat-messages  .cm:not(.log):hover:hover,
#chat .cm.message:nth-child(odd) .cm:not(.log):hover:hover {
    transform: translate(5px);
}
#user-lists .list .user,
#chat-messages .message,
#chat-messages .cm {
        -webkit-transition:     all 0.3s ease;
        -moz-transition:        all 0.3s ease;
        -o-transition:          all 0.3s ease;
        transition:             all 0.3s ease;
}
/* Chat Input Area */

#chat-input {
    border-radius: 30px;
    background: rgba(8, 25, 69, 1);
}
/* User-rollover Section */

#user-rollover {
    border-radius: 10px;
    background: rgb(8, 25, 69);  
}
#user-rollover.self.chat .info {
    border-radius: 0 0 10px 10px;
    background: rgb(4, 13, 36);
}
#user-rollover.self.can-skip.chat .info {
    border-radius: 0 0 0 0;
}
#user-rollover .info {
    background: rgb(4, 13, 36);
}
#user-rollover.expand:not(.chat) .info {
    border-radius: 0 0 0px 0px;
}
#user-rollover.self .action.skip {
    border-radius: 0 0 10px 10px;
} 
.thumb .background {
   background: transparent;
}
#user-rollover .actions,
#user-rollover .actions .action.skip:hover,
#user-rollover .actions .action.mention:hover, 
#user-rollover .actions .action.friend:hover,
#user-rollover .actions .action.mod-dj:hover,
#user-rollover .actions .action.mod-ban:hover {
    background: rgb(4, 13, 36);
    border-radius: 0 0 10px 10px;
}
#user-rollover .actions .action.giftsub:hover,
#user-rollover .actions .action.gift:hover,
#user-rollover .actions .action.ignore:hover,
#user-rollover .actions .action.mod-staff:hover,
#user-rollover .actions .action.mod-mute:hover {
    background: rgb(4, 13, 36);
}
#user-rollover .actions,
#user-rollover .actions i {
    transition: all 0.2s ease-in-out;
}
#user-rollover .actions .giftsub:hover .icon-chat-subscriber,
#user-rollover .actions .skip:hover .icon-skip,
#user-rollover .actions .mention:hover .icon-mention,
#user-rollover .actions .ignore:hover .icon-ignore,
#user-rollover .actions .gift:hover .icon-gift,
#user-rollover .actions .friend:hover .icon-add-friend,
#user-rollover .actions .mod-dj:hover .icon-leave-booth ,
#user-rollover .actions .mod-staff:hover .icon-staff,
#user-rollover .actions .mod-mute:hover .icon-mute-big,
#user-rollover .actions .mod-ban:hover .icon-ban {
    transform: scale(1.2);   
}

/* - - - - - - - - - - - - - - - - - - -  Styling Vote | DJ Booth Buttons | Toast Notifications - - - - - - - - - - - - - - - - - - - */


/* Vote Buttons */

#woot .bottom,
#grab .bottom,
#meh .bottom {
    background: transparent !important;
}
#woot {
    border-radius: 50px 0 0 50px;
    border-left: 1px solid rgb(255, 255, 255);
}
#meh {
    border-radius: 0 50px 50px 0;
    border-right: 1px solid rgb(255, 255, 255);
}
#woot,
#grab,
#meh {
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0 !important;
    background: linear-gradient(135deg, rgba(127, 127, 127, .15), rgba(76, 76, 76, .15)) !important;
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#woot.selected {
    animation:woot 3s infinite;
}
#woot:hover {
    background: linear-gradient(to top, rgba(0, 128, 0,.75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes woot {
    0% {background-color: #00ff00;}
    50% {background-color: #008000;}
    100% {background-color: #00ff00;}
}
#grab.selected {
    animation:grab 3s infinite;
}
#grab:hover {
     background: linear-gradient(to top, rgba(75, 0, 130, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes grab {
    0% {background-color: #9f1aff;}
    50% {background-color: #3b0066;}
    100% {background-color: #9f1aff;}
}
#meh.selected {
   animation:meh 3s infinite;
}
#meh:hover {
    background: linear-gradient(to top, rgba(96, 0, 0, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
@keyframes meh {
    0% {background-color: #ff0000;}
    50% {background-color: #660000;}
    100% {background-color: #ff0000;}
}
/* Woot | Grab | Meh Hover List */

.votes-rs i {
  margin-left: 30%;
}
.votes-rs .title.woot, 
.votes-rs .title.grab,
.votes-rs .title.meh {
  background: rgba(4, 13, 36, .75) !important;
}
.votes-rs .voteslist {
  background: rgba(8, 25, 69, .75);
}
/* DJ join|leave|locked Buttons */

#dj-button.is-wait,
#dj-button.is-leave,
#dj-button.is-locked,
#dj-button.is-quit {
    background: transparent !important;
    border: 1px solid rgb(255, 255, 255) !important; 
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#dj-button.is-wait,
#dj-button.is-wait .left,
#dj-button.is-leave,
#dj-button.is-leave .left, 
#dj-button.is-locked,
#dj-button.is-locked .left,
#dj-button.is-quit,
#dj-button.is-quit .left {
    border-radius: 100px;
}
#dj-button .left {
    border-right: 1px solid rgb(255, 255, 255)!important;
    box-shadow: inset 0 0 5px rgb(255, 255, 255) !important;
}
#dj-button.is-wait .left {
     background: linear-gradient(to top, rgba(0, 128, 0,.75)10%, rgba(255, 255, 255, .05)90%) !important;
}
#dj-button.is-leave .left {
      background: linear-gradient(to top, rgba(75, 0, 130, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
#dj-button.is-quit .left,
#dj-button.is-locked .left {
     background: linear-gradient(to top, rgba(96, 0, 0, .75)10%, rgba(255, 255, 255, .05)90%) !important;
}
/* Toast Notifications */

#toast-notifications .notification .left {
   background: rgba(4, 13, 36, 1);
}
#toast-notifications .notification .right {
   background: rgba(8, 25, 69, 1);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - Styling Things @ Room Footer Section  -  - -- -  - - - - - - - - - - - - - - - - - */


/* Footer */

#footer {
    background: linear-gradient(to bottom, rgba(16, 33, 156, 1) 0, rgba(4, 13, 36, 1) 100%)!important;
}
/* User Info View */

#footer-user .info {
   background: rgba(8, 25, 69, 1) !important;
}
#footer-user .info .meta div.bar {
  background: rgba(4, 13, 36, 1);
  border-radius: 25px;
}
#footer-user .info .bar .progress {
   background: linear-gradient(to right, rgb(0, 156, 221) 0, rgb(0, 179, 255) 100%);
   border-radius: 25px;
}
/* Playlist Menu */

#playlist-panel,
.media-list .container {
    background:  rgba(8, 25, 69, .9);
    text-shadow: 1px -1px rgb(0, 0, 0);
}
#playlist-menu .title {
    color: rgb(255, 255, 255);
}
#media-panel .header,
#playlist-menu,
#search {
    background: rgba(4, 13, 36, 1);   
}
.playlist-media .actions,
.playlist-media .selected .actions,
.media-list .actions,
.media-list .selected .actions {
   background: rgba(4, 13, 36, 1);   
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   height: 55px;
}
#playlist-menu .menu .row.selected,
.media-list .row.selected,
#search-suggestion li:hover {
   background: linear-gradient(-90deg, rgba(21, 67, 183, 1) 0, rgba(8, 25, 69, 
   1) 100%);
}
#search-suggestion li {
   background:  rgba(8, 25, 69, 1);
}
#playlist-edit-button:hover i,
#playlist-activate-button:hover i,
#playlist-shuffle-button:hover i,
#playlist-delete-button:hover i,
#playlist-menu .button:hover i,
.media-list .actions .action.edit:hover .icon, 
.media-list .actions .action.related:hover .icon,
.media-list .actions .action.move-to-bottom:hover .icon,
.media-list .actions .action.move-to-top:hover .icon,
.media-list .actions .action.delete:hover .icon {
    transform: scale(1.2);
}
.menu .container .row,
.menu .container .row:hover,
#playlist-edit-button:hover i,
#playlist-activate-button:hover i,
#playlist-shuffle-button:hover i,
#playlist-delete-button:hover i,
#playlist-menu .button:hover i,
.media-list .actions .action.edit:hover .icon, 
.media-list .actions .action.related:hover .icon,
.media-list .actions .action.move-to-bottom:hover .icon,
.media-list .actions .action.move-to-top:hover .icon,
.media-list .actions .action.delete:hover .icon,
.media-list .actions .action.edit .icon, 
.media-list .actions .action.related .icon,
.media-list .actions .action.move-to-bottom .icon,
.media-list .actions .action.move-to-top .icon,
.media-list .actions .action.delete .icon,
.app-right .friends .list .row.clickable:hover,
.app-right .friends .list .row:hover,
.app-right .friends .list .row.is-offline:hover,
#waitlist .list .user:hover {
    -webkit-transition:     all 0.3s ease;
    -moz-transition:        all 0.3s ease;
    -o-transition:          all 0.3s ease;
    transition:             all 0.3s ease;
}
#search-menu,
#search-menu:hover>.selected,
#search-menu .select,
#search-menu li.last,
#search-menu li.youtube {
    background: rgba(8, 25, 69, 1);
}
#search-menu li:hover,
#search-menu li.youtube:hover {
    background: rgba(4, 13, 36, 1);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Styling Room Scrollbars  - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* Scrollbars */

#chat-messages::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar {
    width: 7px!important;
    box-shadow: inset -1px 0 7px hsla(0, 0%, 0%, .5);
}
#chat-messages::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
.jspDrag {
    background: rgba(4, 13, 36, 1);
    box-shadow: inset 1px 0 7px hsla(0, 0%, 100%, .2);
    border-radius: 5px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - End of CSS Styling - - - - - - -  - - - - - - - - - - - - - - - - - - - - - */

