/* Arkhambot [17969387] */
#user-rollover.id-17969387.username,
#chat [data-cid^="17969387-"] span.un.clickable {
    color: rgb(100, 246, 133) !important;
}
#chat [data-cid^="17969387-"].emote {
    background: color: rgb(100, 246, 133) !important;
    border-left: rgb(100, 246, 133) 3px solid !important;
}
#chat [data-cid^="17969387-"].emote .text {
    color: rgb(100, 246, 133) !important;
    font-style: normal;
    font-weight: bold;
}
/* Maddie Pink Name*/
#user-rollover.id-5382369 .username,
#chat [data-cid^="5382369-"] span.un.clickable {
    color: rgb(255, 105, 180) !important;
}

/* Thia_Fighter2 Event Winner Name*/
#user-rollover.id-6455498.username,
#chat [data-cid^="6455498-"] span.un.clickable {
    color: rgb(0, 255, 255) !important;
}
