@import url("https://skillsaura.github.io/users.css");
@import url("https://skillsaura.github.io/staff.css");
@import url("https://skillsaura.github.io/usericons.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
/* May or may not keep this */
/* User Menus */

#user-menu {
    background: rgba(53, 6, 8, .8);
}
#user-view {
    background: rgba(53, 6, 8, 0.75) !important;
}
.container .header span {
    color: #ffffff;
}
#user-friends .list .row,
#user-view .cell .top {
    opacity: .6;
    border-radius: 90px;
    transition: border-radius .2s ease-out;
    background: 0 0;
}
#user-friends .list .row:hover,
#user-view .cell:hover .top,
#user-view .selected .top {
    opacity: 1
}
#app-menu,
#app-menu .list {
    max-width: 400px !important;
}
.grid .cell {
    border-radius: 25px 25px 25px 25px;
}
.grid .cell .meta .host,
.item span,
.cap .title,
.cap .value,
label,
span.refresh {
    color: #ffffff !important;
}
/* User List Hover */

#user-lists .list .user:hover {
background: linear-gradient(-90deg, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
transform: translate(5px, -5px);
width: initial;
top: 10px;
}
#user-lists .list .user {
top: 10px;
}

#user-lists .list.staff .group{
    background: rgba(53, 6, 8, 0.75) !important;   
}
/* Shop/Inventory */

#user-inventory .cell.selected .top,
#user-inventory .cell:hover>.top,
#user-store .cell.selected .top,
#user-store .cell:hover>.top {
    border-radius: 12px;
    background: transparent !important;
}
#user-inventory .cell,
#user-store .cell,
#user-store .cell .top {
    border-radius: 100px;
    background: transparent !important;
}
#user-store .misc .cell,
#user-store .misc .cell .title-bar {
    border-radius: 0;
    background: transparent !important;
}
/* XP Bars */

.experience .xp .bar,
.experience .xp .bar .progress {
    border-radius: 100px !important;
}
.experience .xp .bar .progress {
    background: #00A7FA;
    box-shadow: 0 0 50px 5px rgb(0, 167, 250);
}
#footer-user .info .meta .bar,
#footer-user .info .meta .bar .progress {
    border-radius: 100px !important;
}
/* Room Background */

.room-background {
    background-image: url(https://i.imgur.com/8kaIagn.jpg) !important;
}
/* Room Icon */

#room-host,
#room-name {
    left: 105px;
}
#room-bar .icon-room {
    top: 6px;
    left: 10px;
}
i.icon.icon-room {
    width: 130px;
    height: 40px;
}
.icon-room {
    background: url(https://i.imgur.com/U5f0EUR.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}
/* Room Name | Hosted By */

#room-bar:hover>#room-host,
#room-bar>#room-name {
    opacity: 0!important;
    transition: opacity .25s !important;
}
#room-bar:hover>#room-name,
#room-bar>#room-host {
    opacity: 1!important;
    transition: opacity .25s !important;
    transition-delay: .25s !important;
}
#room-bar>#room-host,
#room-bar>#room-name {
    left: 110px;
    top: -2px !important;
    white-space: pre;
    -webkit-animation: glow 1s infinite alternate;
}
#room-bar span,
#room-name .bar-value,
#room-host .dark-label,
#room-host .username {
    color: rgb(240, 240, 240);
    font-family: 'Orbitron', Orbitron-Regular;
    font-weight: regular !important;
    font-size: 19px !important;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 35px rgba(250, 250, 250, 1);
    }
}
/* App Header */

.app-header {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
#rs-skip-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%) !important;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
#history-button {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#chat-button {
    border-right: 1px solid black;
    height: 54px;
}
#app-menu.in-room {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
.button,
#rcs-progress-container {
    background: none !important;
}
#rcs-progress-container .bar {
    background: linear-gradient(to right, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1) !important;
}
/* App Header Buttons Selected */

#users-button.header-panel-button.selected,
#waitlist-button.header-panel-button.selected,
#friends-button.header-panel-button.selected,
#rcs-appright-button.header-panel-button.selected,
#chat-button.header-panel-button.selected,
#history-button.selected {
    background: linear-gradient(to top, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
/* Now playing song | Now playing DJ text edit */

#now-playing-bar > #now-playing-media,
#now-playing-bar > #now-playing-media .bar-value {
    padding: 10px;
    left: -12px;
    top: -25px !important;
    font: normal 15px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
#now-playing-bar > #now-playing-dj,
#now-playing-bar > #now-playing-dj span {
    padding: 10px;
    left: -10px;
    top: 0px !important;
    font: normal 13px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
    text-align: left;
    white-space: pre;
}
/* Chat */

#room .app-right,
#room .app-right .cm.log,
#room .app-right .cm.message,
#room .app-right .cm.moderation,
#room .app-right .cm.user-action,
#room .app-right .cm.emote,
#room .app-right .cm.user-mentioned,
#room .app-right .cm-system,
#msg {
    background: rgb(26, 3, 4) !important;
}
#chat-messages .cm:not(.log):hover {
    transform: translate(5px, -5px);
    background-color: rgba(53, 6, 8, .4);
}
#room .app-right .cm.mention {
    background: linear-gradient(-90deg, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%);
}
#user-lists .list .user,
#chat-messages .message,
#chat-messages .cm{
        -webkit-transition:     all 0.3s ease;
        -moz-transition:        all 0.3s ease;
        -o-transition:          all 0.3s ease;
        transition:             all 0.3s ease;
}
/* User-rollover Section */

#user-rollover {
    border-radius: 10px;
    background: rgb(53, 6, 8)  
}
#user-rollover.self.chat .info {
    border-radius: 0 0 10px 10px !important;
    background: rgb(115, 13, 18)
}
#user-rollover.self.can-skip.chat .info {
    border-radius: 0 0 0 0 !important;
}
#user-rollover .info {
    background: rgb(115, 13, 18)
}
#user-rollover.expand:not(.chat) .info {
    border-radius: 0 0 0px 0px;
}
#user-rollover.self .action.skip{
    border-radius: 0 0 10px 10px;
} 
.thumb .background {
   background: transparent;
}
#user-rollover .actions,
#user-rollover .actions .action.giftsub:hover,
#user-rollover .actions .action.skip:hover,
#user-rollover .actions .action.mention:hover, 
#user-rollover .actions .action.ignore:hover,
#user-rollover .actions .action.gift:hover,
#user-rollover .actions .action.friend:hover,
#user-rollover .actions .action.mod-dj:hover,
#user-rollover .actions .action.mod-staff:hover,
#user-rollover .actions .action.mod-mute:hover,
#user-rollover .actions .action.mod-ban:hover {
    background: rgb(53, 6, 8);
    border-radius: 0 0 10px 10px;
}
#user-rollover .actions,
#user-rollover .actions i {
    transition: all 0.1s ease-in-out;
}
#user-rollover .actions .giftsub:hover .icon-chat-subscriber,
#user-rollover .actions .skip:hover .icon-skip,
#user-rollover .actions .mention:hover .icon-mention,
#user-rollover .actions .ignore:hover .icon-ignore,
#user-rollover .actions .gift:hover .icon-gift,
#user-rollover .actions .friend:hover .icon-add-friend,
#user-rollover .actions .mod-dj:hover .icon-leave-booth,
#user-rollover .actions .mod-staff:hover .icon-staff,
#user-rollover .actions .mod-mute:hover .icon-mute-big,
#user-rollover .actions .mod-ban:hover .icon-ban {
    transform: scale(1.2);   
}
/* blabla bla */

#chat-input,
#import-youtube .button,
#import-youtube .youtube-input,
#input-room-name,
#playlist-import-panel .button,
#room-info .input-background,
#user-avatars .tab-menu button,
#user-friends .list .row .buttons button,
#user-friends .search,
#user-friends .tab-menu button,
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
.dialog-input-background,
.input-background,
.tab-menu button,
.user-content.profile .meta .blurb .box,
.user-content.profile .meta .blurb input,
#filter-bar,
#search-bar {
    border-radius: 30px;
    background: rgba(53, 6, 8, 1) !important;
}
/* Playlist/History Menu */

#history-panel,
#playlist-panel {
    background: rgba(53, 6, 8, .75);
    text-shadow: 1px -1px rgb(0, 0, 0);
}
#playlist-menu .title {
    color: rgb(255, 255, 255);
}
#playlist-menu {
    background: rgba(53, 6, 8, .8);
}
#search {
    background: rgba(53, 6, 8, .8);
}
/* Footer */

#footer {
    background: linear-gradient(to bottom, rgba(152, 0, 0, 1) 0, rgba(53, 6, 8, 1) 100%)!important;
}
#playlist-button,
#playlist-menu .menu .row.selected,
.media-list .row.now-playing,
.media-list .row.now-playing .actions,
.media-list .row.selected,
.media-list .selected .actions {
    background: linear-gradient(to bottom, rgba(232, 61, 5, 1) 0, rgba(215, 118, 37, 1) 100%)!important;
    box-shadow: 0 0 10px rgba(200, 48, 2, 1)!important;
}
/* Footer Text */

#your-active-playlist span {
    left: 5px !important;
}
#your-next-media span {
    left: 20px !important;
}
#your-active-playlist span,
#your-next-media span {
    top: 18px !important;
    font: normal 16px/normal "Warnes", 'Orbitron', Orbitron-Regular;
    color: rgb(240, 240, 240);
}
/* Vote & DJ Buttons */

#woot .bottom,
#grab .bottom,
#meh .bottom {
    background: transparent !important;
}
#woot {
    border-radius: 50px 0 0 50px;
    border-left: 2px solid rgb(255, 255, 255);
}
#meh {
    border-radius: 0 50px 50px 0;
    border-right: 2px solid rgb(255, 255, 255);
}
#woot,
#grab,
#meh {
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0 !important;
    background: linear-gradient(135deg, rgba(127, 127, 127, .3), rgba(76, 76, 76, .3)) !important;
    box-shadow: inset 0 0 10px rgb(255, 255, 255) !important;
}
#woot.selected {
    background: rgb(144, 173, 47) !important;
}
#grab.selected {
    background: rgb(170, 116, 255) !important;
}
#meh.selected {
    background: rgb(196, 46, 59) !important;
}
#dj-button {
    background: linear-gradient(135deg, rgba(127, 127, 127, .3), rgba(76, 76, 76, .3)) !important;
    border: 2px solid rgb(255, 255, 255) !important;
}
#dj-button,
#dj-button .left {
    border-radius: 100px;
    box-shadow: inset 0 0 10px rgb(255, 255, 255)!important;
}
#dj-button .left {
    border-right: 2px solid rgb(255, 255, 255)!important;
}
/* Scrollbars */

#chat-messages::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar {
    width: 7px!important;
    box-shadow: inset -1px 0 7px hsla(0, 0%, 0%, .7);
}
#chat-messages::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
.jspDrag {
    background: rgba(152, 0, 0, 1);
    box-shadow: inset 1px 0 7px hsla(0, 0%, 100%, .5);
    border-radius: 5px;
}
/* Removing Plug Icons */

#your-next-media i,
#your-active-playlist i,
#playback .background,
.icon-current-dj {
    display: none !important;
}
