/* Custom Icon for event Winners */
/* 26114230  | Zutherion */

.cm.id-26114230 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-26114230 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 21864210 | christinelolz */

.cm.id-21864210 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-21864210 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 222561955 | Turbodude106 */

.cm.id-222561955 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-222561955 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 22492506 | TheReturningVoid */

.cm.id-22492506 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-22492506 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 21093072 | SlowKyile */

.cm.id-21093072 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-21093072 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 13503067 | Raptorella */

.cm.id-13503067 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-13503067 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 21701532 | mr_x01 */

.cm.id-21701532 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-21701532 .from .icon-chat-dj {
    margin-left: 16px;
}
/* 5139399  | darkmaster0270 */

.cm.id-5139399 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-5139399 .from .icon-chat-dj {
    margin-left: 16px;
}
/* |V|cNerdx [5676670] */

.cm.id-5676670 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/7IS25nR.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-5676670 .from .icon-chat-dj {
    margin-left: 16px;
}
/* Other Custom Badges */
/* Mr. Roboto | TFS Nᵉᵗʷᵒʳᵏ [6137690] */

.cm.id-6137690 .from .icon-chat-bouncer:before {
    content: url("https://i.imgur.com/fmkQHcL.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-6137690 .from .icon-chat-bouncer {
    margin-left: 16px
}
/* Jøґ∂αη†♄εℙαηḓα [22670452] */

.cm.id-22670452 .from .icon-chat-dj:before {
    content: url("https://i.imgur.com/fmkQHcL.png") !important;
    right: 17px;
    position: absolute;
}
.cm.id-22670452 .from .icon-chat-dj {
    margin-left: 16px
}
/*  KaosBass [6068715] */

.cm.id-6068715 .from .un.clickable:before {
    content: url("https://i.imgur.com/P3X1YFk.png") !important;
    top: 3px;
    right: 17px;
    position: absolute;
}
.cm.id-6068715 .from .icon-chat-dj {
    margin-left: 15px
}
