/* PumpkinNinja [7119719] */

#chat-messages .fromID-7119719 .badge-box i,
#chat-messages .id-7119719 .badge-box i,
#user-rollover.id-7119719 .badge-box > i.bdg,
/* ArkhamRobot [25096669] */

#chat-messages .fromID-25096669 .badge-box i,
#chat-messages .id-25096669 .badge-box i,
#user-rollover.id-25096669 .badge-box > i.bdg,
/* Alanvis100 [22640469] */

#chat-messages .fromID-22640469 .badge-box i,
#chat-messages .id-22640469 .badge-box i,
#user-rollover.id-22640469 .badge-box > i.bdg,
/* Thai_fighter2 [6455498] */

#chat-messages .fromID-6455498 .badge-box i,
#chat-messages .id-6455498 .badge-box i,
#user-rollover.id-6455498 .badge-box > i.bdg,
/* Raptorella [13503067] */

#chat-messages .fromID-13503067 .badge-box i,
#chat-messages .id-13503067 .badge-box i,
#user-rollover.id-13503067 .badge-box > i.bdg,
/* Skye Guy [15731737] */

#chat-messages .fromID-15731737 .badge-box i,
#chat-messages .id-15731737 .badge-box i,
#user-rollover.id-15731737 .badge-box > i.bdg,
/* Jøґ∂αη†♄εℙαηḓα [22670452] */

#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg,
/* KaosBass [6068715] */

#chat-messages .fromID-6068715 .badge-box i,
#chat-messages .id-6068715 .badge-box i,
#user-rollover.id-6068715 .badge-box > i.bdg,
/* |V|cNerdx [5676670] */

#chat-messages .fromID-5676670 .badge-box i,
#chat-messages .id-5676670 .badge-box i,
#user-rollover.id-5676670 .badge-box > i.bdg,
/* samanthalolz  [13490395] */

#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i,
#user-rollover.id-13490395 .badge-box > i.bdg,
/* Smash|smashbro12 [8452233] */

#chat-messages .fromID-8452233 .badge-box i,
#chat-messages .id-8452233 .badge-box i,
#user-rollover.id-8452233 .badge-box > i.bdg,
/* Skorpion9001 [18182332] */

#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i,
#user-rollover.id-18182332 .badge-box > i.bdg,
/* WɪʟᴅFᴏxMᴀɴ [6708885] */

#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i,
#user-rollover.id-6708885 .badge-box > i.bdg,
/* volcano_girl111x [5759108] */

#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg,
/* Mǟɖɖɨɛ [5382369] */

#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg,
/* Gay Peter Pan [22954907] */

#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg,
/* ArkhamBot [17969387] */

#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i,
#user-rollover.id-17969387 .badge-box > i.bdg {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 6px;
    background-position: initial;
    background-repeat: no-repeat !important
}
/* Images Area */
/* PumpkinNinja [7119719] */

#chat-messages .fromID-7119719 .badge-box i,
#chat-messages .id-7119719 .badge-box i,
#user-rollover.id-7119719 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/j9XgOmd.png);
}
/* ArkhamRobot [25096669] */

#chat-messages .fromID-25096669 .badge-box i,
#chat-messages .id-25096669 .badge-box i,
#user-rollover.id-25096669 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/FHjv5ki.png);
}
/* Alanvis100 [22640469] */

#chat-messages .fromID-22640469 .badge-box i,
#chat-messages .id-22640469 .badge-box i,
#user-rollover.id-22640469 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/4BqaF5k.gif);
}
/* Thai_fighter2 [6455498] */

#chat-messages .fromID-6455498 .badge-box i,
#chat-messages .id-6455498 .badge-box i,
#user-rollover.id-6455498 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/uOt6rlJ.png);
}
/* Raptorella [13503067] */

#chat-messages .fromID-13503067 .badge-box i,
#chat-messages .id-13503067 .badge-box i,
#user-rollover.id-13503067 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/EAd410E.gif);
}
/* Skye Guy [15731737] */

#chat-messages .fromID-15731737 .badge-box i,
#chat-messages .id-15731737 .badge-box i,
#user-rollover.id-15731737 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/RZq4bfm.gif);
}
/* Jøґ∂αη†♄εℙαηḓα [22670452] */

#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/778KmRa.gif);
}
/* KaosBass [6068715] */

#chat-messages .fromID-6068715 .badge-box i,
#chat-messages .id-6068715 .badge-box i,
#user-rollover.id-6068715 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/ArNFQ.gif);
}
/* |V|cNerdx [5676670] */

#chat-messages .fromID-5676670 .badge-box i,
#chat-messages .id-5676670 .badge-box i,
#user-rollover.id-5676670 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/CJseu6y.png);
}
/* samanthalolz  [13490395] */

#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i,
#user-rollover.id-13490395 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/mtfhebO.jpg);
}
/* Smash|smashbro12 [8452233] */

#chat-messages .fromID-8452233 .badge-box i,
#chat-messages .id-8452233 .badge-box i,
#user-rollover.id-8452233 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/sQY3pxD.png);
}
/* Skorpion9001 [18182332] */

#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i,
#user-rollover.id-18182332 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/GbN3VPK.png);
}
/* -WɪʟᴅFᴏxMᴀɴ [6708885] */

#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i,
#user-rollover.id-6708885 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/GgkgD4p.png);
}
/* volcano_girl111x [5759108] */

#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/zXHtrKE.jpg);
}
/* Mǟɖɖɨɛ [5382369] */

#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/e1izKpK.gif);
}
/* Gay Peter Pan [22954907] */

#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/dtTGOx7.png);
}
/* ArkhamBot [17969387] */

#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i,
#user-rollover.id-17969387 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/i9Gk5FF.png);
}
/* No badge  */

.badge-box.no-badge i {
    background: url(https://i.imgur.com/bEaAOin.png);
}
.badge-box.no-badge i {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: none;
    background-position: center;
    background-repeat: no-repeat !important;
}
/* Remove badge background */

.badge-box {
    background: transparent !important;
}
