/* Jøґ∂αη†♄εℙαηḓα [22670452] */

#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg,
/* KaosBass [6068715] */

#chat-messages .fromID-6068715 .badge-box i,
#chat-messages .id-6068715 .badge-box i,
#user-rollover.id-6068715 .badge-box > i.bdg,
/* |V|cNerdx [5676670] */

#chat-messages .fromID-5676670 .badge-box i,
#chat-messages .id-5676670 .badge-box i,
#user-rollover.id-5676670 .badge-box > i.bdg,
/* samanthalolz  [13490395] */

#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i,
#user-rollover.id-13490395 .badge-box > i.bdg,
/* Smash|smashbro12 [8452233] */

#chat-messages .fromID-8452233 .badge-box i,
#chat-messages .id-8452233 .badge-box i,
#user-rollover.id-8452233 .badge-box > i.bdg,
/* Skorpion9001 [18182332] */

#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i,
#user-rollover.id-18182332 .badge-box > i.bdg,
/* WɪʟᴅFᴏxMᴀɴ [6708885] */

#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i,
#user-rollover.id-6708885 .badge-box > i.bdg,
/* volcano_girl111x [5759108] */

#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg,
/* Mǟɖɖɨɛ [5382369] */

#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg,

/* Gay Peter Pan [22954907] */

#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg,
/* ArkhamBot [17969387] */

#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i,
#user-rollover.id-17969387 .badge-box > i.bdg {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    background-position: initial;
    background-repeat: no-repeat !important
}
/* Images Area */
/* Jøґ∂αη†♄εℙαηḓα [22670452] */

#chat-messages .fromID-22670452 .badge-box i,
#chat-messages .id-22670452 .badge-box i,
#user-rollover.id-22670452 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/3E9dL4M.png);
}
/* KaosBass [6068715] */

#chat-messages .fromID-6068715 .badge-box i,
#chat-messages .id-6068715 .badge-box i,
#user-rollover.id-6068715 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/xmMuxVo.png);
}
/* |V|cNerdx [5676670] */

#chat-messages .fromID-5676670 .badge-box i,
#chat-messages .id-5676670 .badge-box i,
#user-rollover.id-5676670 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/kdIuFtb.png);
}
/* samanthalolz  [13490395] */

#chat-messages .fromID-13490395 .badge-box i,
#chat-messages .id-13490395 .badge-box i,
#user-rollover.id-13490395 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/mtfhebO.jpg);
}
/* Smash|smashbro12 [8452233] */

#chat-messages .fromID-8452233 .badge-box i,
#chat-messages .id-8452233 .badge-box i,
#user-rollover.id-8452233 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/vWJGA4I.png);
}
/* Skorpion9001 [18182332] */

#chat-messages .fromID-18182332 .badge-box i,
#chat-messages .id-18182332 .badge-box i,
#user-rollover.id-18182332 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/GbN3VPK.png);
}
/* -WɪʟᴅFᴏxMᴀɴ [6708885] */

#chat-messages .fromID-6708885 .badge-box i,
#chat-messages .id-6708885 .badge-box i,
#user-rollover.id-6708885 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/GgkgD4p.png);
}
/* volcano_girl111x [5759108] */

#chat-messages .fromID-5759108 .badge-box i,
#chat-messages .id-5759108 .badge-box i,
#user-rollover.id-5759108 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/eTg1nWK.png);
}
/* Mǟɖɖɨɛ [5382369] */

#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/oxDg9kw.gif);
}
/* Gay Peter Pan [22954907] */

#chat-messages .fromID-22954907 .badge-box i,
#chat-messages .id-22954907 .badge-box i,
#user-rollover.id-22954907 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/dtTGOx7.png);
}
/* ArkhamBot [17969387] */

#chat-messages .fromID-17969387 .badge-box i,
#chat-messages .id-17969387 .badge-box i,
#user-rollover.id-17969387 .badge-box > i.bdg {
    background-image: url(https://i.imgur.com/i9Gk5FF.png);
}
/* No badge (Not Working) */

.badge-box.no-badge i {
    background: url(https://i.imgur.com/ugMPziL.png) !important;
}
.badge-box.no-badge i {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: none;
    background-position: relative;
    background-repeat: no-repeat !important;
}
/* Remove badge background */

.badge-box {
    background: transparent !important;
}

/* JordanThePanda|Roboto|Arkhambot Rainbow Hover */
#user-rollover.id-17969387 .username:hover,
#user-rollover.id-22670452 .username:hover,
#user-rollover.id-6137690 .username:hover,
#chat [data-cid^="17969387-"] span.un.clickable:hover,
#chat [data-cid^="22670452-"] span.un.clickable:hover,
#chat [data-cid^="6137690-"] span.un.clickable:hover{
animation:rainbow 1s infinite;
}

@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

/* Mr.Roboto | Jordan Name */
#user-rollover.id-17969387 .username,
#user-rollover.id-6137690 .username,
#user-rollover.id-22670452 .username,
#chat [data-cid^="17969387-"] span.un.clickable,
#chat [data-cid^="6137690-"] span.un.clickable,
#chat [data-cid^="22670452-"] span.un.clickable{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* TEMP MADDIE TROLL CODE 5382369*/
#chat [data-cid^="22954907-"] span.un.clickable,
#chat [data-cid^="5382369-"] span.un.clickable{
    color: rgb(255, 105, 180) !important;
}
#chat [data-cid^="5382369-"] span.un.clickable:hover {
    color: rgba(89, 48, 1, 1) !important;
}

/*(.cm.id-5382369 .from .un.clickable:before {
    content: url("https://i.imgur.com/qhsMrdF.png") !important;
    top: 0px;
    right: 3px;
    position: relative;
} 
/*#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background-position: initial;
    background-repeat: no-repeat !important;
}
#chat-messages .fromID-5382369 .badge-box i,
#chat-messages .id-5382369 .badge-box i,
#user-rollover.id-5382369 .badge-box > i.bdg {
    background-image: url('https://i.imgur.com/NzFSjbK.gif');
} */
